body {
    background-color: rgba(247, 245, 243, 0.897);
}

/* #title {
    color: rgb(80, 44, 114);
    text-align: center;
    background-color: rgb(250, 215, 215);
}
#text {
    width: 500px;
}


.card_red {
    color: rgb(150, 35, 35);
    background-color: lightgrey;
    display: inline-block;
    width: 40px;
    padding: 10px;
    margin: 2px;
    font-size: 25px;
}

.card_black {
    color: black;
    background-color: lightgrey;
    width: px;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    margin: 2px;
}

#LoremIpsum {
    text-align: center;
    font-style: monospace;
   
}

.ax {
    text-align: center;
    font-size: 15px;
    background-color: rgb(241, 141, 141);
    width: 150px;
    margin: auto;
    font-weight: 600;
    word-wrap: break-word;
}








 .v {
    font-size: 13;
 }

 .title {
    text-align: center;
 } */

 #container {
    border: 2px solid orange;
    height: 40px;
    width: 250px;
 }


 #square {
    background: red;
    width: 40px;
    height: 40px;
    margin-left: 100px;
    /* position: absolute; */
    animation: anim 3s linear infinite;
    

}

@keyframes anim {
    from {
    margin-left: 0px;
    }
    to {
    margin-left: 200px;
    }
}


#heart {
width: 250px;
transition: 1s;
filter: grayscale(1);
}

#heart:hover {

    filter: grayscale(0);
    width: 350px;

    /* filter: drop-shadow(15px 15px 5px red); */
}

#container2 {
    border: 2px solid red;
    height: 500px;
}

#pencil {
/* border: 2px solid red; */
width: 150px;
margin-top: 300px;
animation: movePencil 2s ease 2s forwards;
position: absolute;
z-index: 1;
margin-left: 450px;

}

#pallete {
    width: 100px;
    margin-top: 300px;
    animation: movePallete 2s ease 4s forwards;
    position: absolute;
    z-index: 1;
    margin-right: 500px;
}

#book {
    width: 100px;
    margin: 300px;
    animation: moveBook 2s ease 6s forwards;
    position: absolute;
    z-index: 1;
    margin-bottom: 500px;
}

#calc {
    width: 100px;
    margin: 150px;
    animation: moveCalc 2s ease 8s forwards;
    position: absolute;
    z-index: 1;
    margin-bottom: 500px;
}

#paper {
    width: 100px;
    margin: 600px;
    animation: movePaper 2s ease forwards;
    position: absolute;
    z-index: 1;
    margin-bottom: 500px;
}

@keyframes movePaper {
    from {
        margin-top: 300px;
    }
    to {
        margin-top: 0px;
        rotate: 120deg;
    }
}
@keyframes moveCalc {
    from {
        /* margin-top: 300px; */
    }
    to {
        margin-top: 0px;
        rotate: 120deg;
    }
}
@keyframes moveBook {
    from {
        margin-top: 300px;
    }
    to {
        margin-top: 0px;
        rotate: 120deg;
    }
}

@keyframes movePallete {
    from {
        margin-top: 300px;
    }

    
     
        to {
            margin-top: 0px;
            rotate: 120deg;
        }
   
}

@keyframes movePencil {
    from {
        /* margin-top: 300px; */
    }
    to {
        margin-top: 0px;
        rotate: 120deg;
    }
}

/* #circle {
    width: 200px;
    height: 200px;
    border: 7px solid lightblue;
    border-radius: 110px;

} */

.clock {
    border-radius: 110px;
    background: fixed;
    /* background-size: 88%; */
    height: 200px;
    /* padding-bottom: 31%; */
    position: relative;
    width: 200px;
    border: 7px solid lightblue;
}

.clock.simple::after {
    background: #000000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hours {
    background: lightblue;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;

}
.minutes {
    background: lightblue;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
}
.seconds {
    background: lightblue;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}
.hours-container {
    animation: rotate 20s infinite linear;
}
.minutes-container {
    animation: rotate 10s infinite linear;
}
.seconds-container {
    animation: rotate 3s infinite linear;

}
.minutes-container {
    animation: rotate 10s infinite steps(60);
}
.seconds-container {
    animation: rotate 3s infinite steps(60);
}


/* * {
    margin: 0;
    padding: 0; 
}  

 /* body {
    height: 100vh; 
    display: flex; */
    /* justify-content: center;
    align-items: center;
    
} */ 

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    perspective: 1000px;
    
    
}
h1 {
    position: absolute;
    /* z-index: ;     */
}
.door {
    width: 300px;
    height: 300px;
    background-color: #000000;
    transition: all 1s;
    
}
.door_left {
    transform-origin: left;
}
.door_right {
    transform-origin: right;
}
.wrap:hover > .door_left {
   transform: rotateY(50deg);
}

.wrap:hover > .door_right {
    transform: rotateY(-50deg);
} 


  
